@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.btn {
  @apply inline-block rounded-full px-10 py-2;
}

.btn-xl {
  @apply text-xl;
}

.btn-outline-light {
  @apply border-white border-solid border;
}

.btn-outline-light:hover {
  @apply bg-white text-black;
}

.section-portfolio-item {
  @apply py-10 px-5
}

@screen md {
  .section-portfolio-item {
    @apply px-24;
  }
}