.container {
    @apply my-3;
}

.progress-container {
    width: 100%;
    height: 30px;
    @apply bg-gray-400 rounded;
}

.progress-value {
    height: 30px;
    width: 0;
    @apply bg-blue-400;
}